name: CI

on:
  pull_request:
  push:
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
      with:
        submodules: recursive
    - uses: actions/setup-node@v2
      with:
        node-version: '16'
    - uses: denoland/setup-deno@v1
      with:
        deno-version: ~1.13
    - run: deno lint --ignore=thirdparty/
    - run: deno fmt  --ignore=thirdparty/ --check
    - run: npm ci  --ignore-scripts
    - run: npm run --silent test
    - run: npm run --silent denolib
    - run: tools/missing.ts
